:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  width: 1440px;
  margin: 0px auto;
}

p {
  margin-bottom: 0px;
  padding: 0.5vw;
}

img {
  padding-right: 27px;
  padding-top: 5px;
  padding-left: 70px;
}

.topnav {
  overflow: hidden;
  margin: 3.5% 30px;
}

.header-logo {
  float: left;
}

.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.topnav a.active {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a {
      display: none;
  }

  .topnav a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
  }

  .topnav.responsive .icon {
      position: absolute;
      right: 0px;
      top: 0px;
  }

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }

  .topnav.responsive .main-navbar {
      width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .topnav a {
      display: none;
  }

  .topnav a.icon {
      float: right;
      display: block;
  }
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  border-radius: 2rem;
  text-align: justify;
  margin: 0px 100px;
}

.modal-btn {
  font-size: 145%;
  background: rgb(254, 20, 47);
  display: flex;
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: rgb(56, 118, 172);
}

.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

.button {
  background: rgb(254, 20, 47);
  margin-top: 0.5em;
  padding: 1em;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: rgb(56, 118, 172);
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: rgb(35, 35, 35);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid rgb(204, 204, 204);
  outline: none;
}

.text-control {
  margin: 0px;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 12px;
  color: rgb(229, 72, 88);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 0.3;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid rgb(229, 72, 88);
}

.checkbox-label, .checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon, .checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(39, 158, 122);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: all 0.3s ease 0s;
}

.checkbox-label .checkbox-icon::after, .checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: rgb(39, 158, 122);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after, .checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: rgb(39, 158, 122);
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0px;
  background: rgb(196, 196, 196);
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-image: initial;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close::before, .close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: rgb(255, 255, 255);
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.btn-submit, .btn-signup {
  background: rgb(254, 20, 47);
  display: block;
  margin: 0px auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0px;
}

.error{
  border: 4px solid #e54858;
}

.validationSuccess{
  border: 4px solid #279e7a;
}

.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: rgb(255, 255, 255);
}

.select-selected::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 0, 0) rgb(255, 0, 0);
  border-image: initial;
  transform: rotate(-48deg);
  border-radius: 5px 0px;
}

.select-selected.select-arrow-active::after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div, .select-selected {
  color: rgb(0, 0, 0);
  padding: 11px 16px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 89%;
  left: 0px;
  right: 0px;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-label {
  font-weight: normal;
  font-size: 16px;
}

nav {
  width: 1440px;
}

.hero-section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 2px;
  margin-bottom: 10px;
  max-width: 1239px;
}

.hero-content {
  padding: 51px 67px;
  grid-column: span 4 / auto;
  background: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  position: relative;
  text-align: left;
  min-width: 424px;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(35, 35, 35);
  position: absolute;
  right: -80px;
  top: 0px;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}

.hero-text {
  width: 140%;
  font-weight: normal;
  margin-top: 4rem;
  padding: 0px;
  font-size: 31px;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 25px;
  padding: 15px 23px;
  margin: 59px 0px 0px;
}

.hero-img {
  grid-column: 5 / 13;
}

.hero-img img {
  display: block;
  padding: 0px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.copyrights {
  color: rgb(254, 20, 47);
  padding: 0px;
  font-size: 1rem;
  margin: 50px 0px 30px;
  font-weight: bolder;
}

.hero-section > .btn-signup {
  display: none;
}

.container-confirmation-submit {
  display: none;
  background-color: rgba(35, 35, 35, 0.5);
  width: 100%;
  height: 200vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
}

.submitted-form {
  width: 100%;
  height: 100%;
  left: 0px;
  margin: 0px auto;
  position: fixed;
  top: 0px;
}

.close-modal-submit {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  color: rgb(255, 255, 255);
}

.close-modal-submit::before, .close-modal-submit::after {
  position: absolute;
  left: 0.9375rem;
  content: " ";
  height: 2.0625rem;
  width: 0.1875rem;
  background-color: rgb(255, 255, 255);
}

.close-modal-submit::before {
  transform: rotate(45deg);
}

.close-modal-submit::after {
  transform: rotate(-45deg);
}

.submitted-form p {
  width: 100%;
  height: 100%;
  background-color: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

#close-btn-confirmation {
  position: relative;
  top: -165px;
  outline: none;
  border: none;
  font-size: 22px;
  background: rgb(254, 20, 47);
  display: flex;
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

footer {
  margin-left: 40px;
  /* margin-top: 50px; */
}

@media screen and (max-width: 768px) {
  .hero-section {
      display: block;
      box-shadow: unset;
  }

  .hero-content {
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      padding: 20px 0px;
  }

  .hero-content::after {
      content: unset;
  }

  .hero-content .btn-signup {
      display: none;
  }

  .hero-headline {
      font-size: 6.5rem;
      white-space: normal;
  }

  .hero-text {
      width: unset;
      font-size: 2.5rem;
  }

  .hero-section > .btn-signup {
      display: block;
      margin: 50px auto 0px;
      padding: 12px 35px;
      width: 18rem;
      height: 4rem;
      font-size: 2.2rem;
  }

  .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
  }

  .copyrights {
      margin-top: 50px;
      text-align: center;
      font-size: 2rem;
  }
}

@keyframes modalopen {
  0% {
      opacity: 0;
      transform: translateY(-150px);
  }

  100% {
      opacity: 1;
  }
}
